<div class="edit-appointment">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="aa-h-title">
                                    Asignación de citas
                                </div>
                            </div>
                            <div class="col-md-4 aa-h-opt">
                                <a class="aa-h-text">Consulta, pago y cancelación</a>
                            </div>
                            <div class="col-md-4 aa-h-opt text-right">
                                <a class="aa-h-text">Nueva cita para otros servicios</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="sub-card">
                            <div class="aa-b-title">ASIGNACIÓN DE CITAS</div>
                            <div class="aa-b-info">
                                <app-appointment-info [type]="type"></app-appointment-info>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
