.assign-appointment {
    background: #DEF2FF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.select-file, .download-file {
    margin-top: 5px;
    height: 46px;
}

.download-file {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: 170px;
}

.download-file::placeholder {
    color: #5bc0de;
}

.upload-file-hide {
    position: absolute;
    color: transparent;
    width: 116px;
    height: 46px;
    left: 64%;
    top: 34px;
    z-index: 9;
}

input[type=file] {
    cursor: pointer;
    z-index: 99;
    opacity: 0;
}

.upload-file {
    width: 116px;
    height: 46px;
    left: 64%;
    top: 34px;
    position: absolute;
    background: #61C6E1 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    padding: 6px;
    
    .file-icon {
        width: 30px;
        opacity: 1;
    }

    .upload-text {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-roboto);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-ffffff);
        text-align: left;
        font: normal normal normal 17px/16px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
}

select, input[type=file] {
    cursor: pointer;
    z-index: 999;
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: #3DB0F8;
    color: whitesmoke;
}

.container {
    max-width: 1480px;
}

.card {
    margin-top: 130px;
}

.sub-card {
    margin: 15px;
    border-radius: 5px 5px 5px 5px;
    border: #585757 solid 1px;
}

.dropdown-menu {
    max-width: 800px;
    max-height: 300px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.aa-h-title {
    top: 180px;
    left: 338px;
    width: 194px;
    height: 52px;
    padding-top: 15px;
    background: #3DB0F8 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 18px/25px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.card-footer {
    background: #DEF2FF 0% 0% no-repeat padding-box;
    border: 1px solid #9BD5FB;
    border-radius: 0px 0px 5px 5px;
    height: 65px;
    opacity: 1;
}

.aa-h-text {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    display: none;
    font: normal normal normal 18px/25px Roboto;
    letter-spacing: 0px;
    color: #3DB0F8;
    opacity: 1;
}

.aa-h-opt {
    padding-left: 35px;
    padding-top: 15px;
}

.aa-b-title {
    width: 100%;
    height: 65px;
    padding-top: 20px;
    padding-left: 15px;
    background: #DEF2FF 0% 0% no-repeat padding-box;
    border: 1px solid #9BD5FB;
    border-radius: 5px 5px 0px 0px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-162c70);
    text-align: left;
    font: normal normal bold 18px/25px Roboto;
    letter-spacing: 0px;
    color: #162C70;
    opacity: 1;
}

.img-b-cups {
    width: 100%;
}

.cups-quest {
    margin-top: 87px; 
    cursor: pointer;
    display: inline-flex;
    b {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 14px/var(--unnamed-line-spacing-15) var(--unnamed-font-family-roboto);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-162c70);
        text-align: center;
        font: normal normal bold 14px/15px Roboto;
        letter-spacing: 0px;
        color: #162C70;
        opacity: 1;
    }
}

.aa-b-cups-icon {
    background-color: #279DE6;
    color: white;
    width: 24px !important;
    height: 24px !important;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal medium 20px/25px Roboto;
    letter-spacing: 0px;
    opacity: 1;    
}

.aa-b-info {
    margin: 19px;
    .aa-b-sub-title {
        height: 37px;
        padding-left: 15px;
        padding-top: 8px;
        background: #DEF2FF 0% 0% no-repeat padding-box;
        border: 1px solid #9BD5FB;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-roboto);
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal medium 18px/25px Roboto;
        letter-spacing: 0px;
        color: #585757;
        opacity: 1;

        .aa-b-sub-icon {
            background-color: #162C70;
            color: white;
            width: 24px !important;
            height: 24px !important;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-roboto);
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: left;
            font: normal normal medium 20px/25px Roboto;
            letter-spacing: 0px;
            opacity: 1;    
        }
    }
    .aa-b-a {
        padding-top: 5px;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/30px var(--unnamed-font-family-roboto);
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal medium 18px/30px Roboto !important;
        letter-spacing: 0px;
        color: #585757;
    }
    .aa-b-n {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/30px var(--unnamed-font-family-roboto);
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal medium 18px/30px Roboto;
        letter-spacing: 0px;
        color: #585757;
    }
    .aa-b-cups {
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        letter-spacing: 0px;
        color: #585757;
        opacity: 1;
    }
}

.padd-ctrl {
    padding-top: 20px;
}

.btn-delete {
    background: #162C70 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    height: 28px;
    margin-top: -8px;
    opacity: 1;
    .file-icon {
        width: 20px;
        margin-top: -13px;
        opacity: 1;
    }
}

.entity-text, .center-text {
    height: 38px;
    width: 85%;
    background: #F3F2F2 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000001A;
    border: 1px solid #BFBFBF;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 16px/15px Roboto;
    letter-spacing: 0px;
    color: #585757;
    &::placeholder {
        color: #B7B7B7;
    }
    opacity: 1;
}

.select_entity, .select_center {
    position: absolute;
    left: 1px;
    width: 79%;
    height: 40px;
    opacity: 0;
}

.open-select {
    position: absolute;
    width: 0;
    height: 0;
    top: 13px;
    margin-left: 65%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #156499;
}

.cups-text {
    height: 38px;
    width: 85%;
    background: #F3F2F2 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000001A;
    border: 1px solid #BFBFBF;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 16px/15px Roboto;
    letter-spacing: 0px;
    color: #585757;
    opacity: 1;
}

.aa-b-aa {
    width: 132px;
    padding-top: 8px;
    background: #279DE6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 14px/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 12px/22px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.aa-b-sa {
    width: 220px;
    height: 48px; 
    background: #156499 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 16px/22px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

table {
    border: #162C70 solid 1px;
    thead {
        background: var(--unnamed-color-162c70) 0% 0% no-repeat padding-box;
        background: #162C70 0% 0% no-repeat padding-box;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-ffffff);
        text-align: left;
        font: normal normal medium 16px/22px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    tbody {
        border: 1px solid var(--unnamed-color-162c70);
        border: 1px solid #162C70;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal medium 16px/22px Roboto;
        letter-spacing: 0px;
        color: #585757;
        opacity: 1;
    }
}

#cupsModal {
    .modal-dialog {
        .modal-header {
            background: var(--unnamed-color-162c70) 0% 0% no-repeat padding-box;
            background: #162C70 0% 0% no-repeat padding-box;
            opacity: 1;
            .modal-title {
                width: 100%;
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-21)/33px var(--unnamed-font-family-roboto);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--unnamed-color-ffffff);
                text-align: center;
                font: normal normal medium 21px/33px Roboto;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
            }
            button {
                display: none;
            }
        }
        .modal-body {
            width: 100%;font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-21)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-roboto);
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: center;
            cursor: pointer;
            font: normal normal medium 21px/25px Roboto;
            letter-spacing: 0px;
            color: #6E6C6C;
            opacity: 1;
        }
        .modal-footer {
            width: 100%;
            .btn-confirm {
                margin-right: 46%;
                height: 34px;
                background: #213A88 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 5px;
                opacity: 1;
            }

            span {
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--unnamed-color-ffffff);
                text-align: left;
                font: normal normal normal 16px/22px Roboto;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
                img {
                    padding-bottom: 5px;
                }
            }
        }
    }
}
.card-info {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 834px) {
    .col-md-1, .aa-b-cups-icon {
        display: none;
    }
    .upload-file-hide, .upload-file {
        left: 15px;
        text-align: center;
        width: 89%;
    }
    .cups-quest {
        margin-top: 50px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width:767px) {
    .cups-quest {
        margin-top: 14px;
        margin-bottom: 20px;
    }
    .list-app {
        display: none;
    }
    .card-info {
        display: block;
        margin-top: 0px;
        margin-bottom: 10px;
        .card-header {
            background: var(--unnamed-color-162c70) 0% 0% no-repeat padding-box;
            background: #162C70 0% 0% no-repeat padding-box;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-ffffff);
            text-align: center;
            font: normal normal medium 16px/22px Roboto;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
        }
        .card-body, .card-footer {
            border: 1px solid var(--unnamed-color-162c70);
            border: 1px solid #162C70;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: center;
            font: normal normal medium 16px/22px Roboto;
            letter-spacing: 0px;
            color: #585757;
            height: 50px;
            opacity: 1;
        }
        .card-footer {
            background-color: transparent;
            height: 67px !important;
            .btn {
                background: #162C70 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 5px;
                opacity: 1;
                padding: 6px;
                
                .file-icon {
                    width: 30px;
                    opacity: 1;
                }

                .upload-text {
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-roboto);
                    letter-spacing: var(--unnamed-character-spacing-0);
                    color: var(--unnamed-color-ffffff);
                    text-align: left;
                    font: normal normal normal 17px/16px Roboto;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;
                }
            }
        }
    }
    .aa-h-opt {
        text-align: left !important;
    }
    .center-ctrl {
        align-items: center !important;
        text-align: center !important;
    }
    .download-file {
        margin-left: -15px;
    }
    .delete-file {
        margin-left: -14px;
    }
    .upload-file, .upload-file-hide {
        left: 6%;
        width: 89%;
        text-align: center;
    }
}

@media screen and (min-width: 767px) {
    table {
        width: 100%;
        .tt-0 {
            width: 5%;
        }
        .tt-1 {
            width: 55%;
        }
        .tt-2 {
            width: 30%;
        }    
        .tt-3 {
            width: 10%;
        }
        
    }
    
    .modal-content {
        width: 140%;
        margin-left: -22%;
    }
    .aa-b-sa {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);    
    }
}

.show-ctrl {
    display: block !important;
}