.top-header {
    height: 125px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.fal-logo {
    top: 17px;
    left: 707px;
    width: 507px;
    height: 91px;
    opacity: 1;
}
.social-media {
    top: 1018px;
    left: 500px;
    width: 46px;
    height: 46px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.bottom-header {
    top: 125px;
    left: 0px;
    height: 12px;
    background: #61C6E1 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000033;
    opacity: 1;
}
