$bg-color-bf: #162C70;
.top-footer {
    width: 101.2%;
    height: 17px;
    background: var(--unnamed-color-2848ab) 0% 0% no-repeat padding-box;
    background: #2848AB 0% 0% no-repeat padding-box;
    opacity: 1;
}
.bottom-footer {
    width: 101.2%;
    background: var(--unnamed-color-162c70) 0% 0% no-repeat padding-box;
    background: $bg-color-bf 0% 0% no-repeat padding-box;
    opacity: 1;
}
.social-media {
    margin-bottom: 30px !important;
    margin-left: 10px;
    margin-right: 10px;
    width: 46px;
    height: 46px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: $bg-color-bf 0% 0% no-repeat padding-box;
    opacity: 1;
    display: inline-block;
}
.footer-info {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-21)/var(--unnamed-line-spacing-25) Montserrat;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 21px/25px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
}

.social-group {
    padding-top: 30px;
}

@media screen and (min-width: 768px) and (max-width: 898px) {
    .social-media {
        margin-left: 1%;
        margin-right: 1%;
    }
    .top-footer, .bottom-footer {
        width: 102.2%;
    }  
}

@media screen and (max-width: 767px) {
    .social-group {
        text-align: center !important;
        padding-left: 0px;
    }  
    .top-footer, .bottom-footer {
        width: 104.2%;
    }    
}
