
<footer>
    <div class="row top-footer"></div>
    <div class="row bottom-footer">
        <div class="col-md-2"></div>
        <div class="col-md-3 text-right social-group">
            <a href="/">
                <img class="social-media" src="assets/icons/svg/Footer/Icono facebook-32-32.svg" alt="Facebook logo">
            </a>
            <a href="/">
                <img class="social-media" src="assets/icons/svg/Footer/icono instagram-34.svg" alt="Instagram logo">
            </a>
            <a href="/">
                <img class="social-media" src="assets/icons/svg/Footer/icono twitter-33.svg" alt="Twitter logo">
            </a>
        </div>
        <div class="col-md-5 text-center">
            <p class="footer-info" >
                Condiciones del servicio <br>
                © 2021 todos los derechos reservados GL Studios S.A.S
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</footer>