<div class="appointment-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title-header">GESTIÓN DE CITAS</div>
                            <div class="card-header"></div>
                        </div>
                        <div class="col-md-12 text-center text-title"><b>OPCIONES</b></div>
                        <div class="col-md-12 al-table">
                            <div class="container">
                                <div class="table-responsive">
                                    <div class="table">
                                        <table>
                                            <thead class="text-center">
                                                <tr>
                                                    <th>CÓDIGO CUPS</th>
                                                    <th>ESTUDIO Ó CITA</th>
                                                    <th>FECHA</th>
                                                    <th>HORA</th>
                                                    <th>CANCELAR</th>
                                                    <th>REASIGNAR</th>
                                                    <th>VER INSTRUCTIVO</th>
                                                    <th>ESTADO</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-center">
                                                <tr>
                                                    <td><b>881132</b></td>
                                                    <td><b>ECOGRAFÍA DE CUELLO</b></td>
                                                    <td><b>26/01/2021</b></td>
                                                    <td><b>10:00 A.M</b></td>
                                                    <td> 
                                                        <button  data-toggle="modal" data-target="#dynamicModal" class="btn">
                                                            <img width="30" src="assets/icons/svg/appointmentManagement/icono cerrar rojo.svg" alt="Icon Cancel">
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="btn">
                                                            <img width="30" src="assets/icons/svg/appointmentManagement/icono reasignar cita.svg" alt="Icon Reasign">
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="btn">
                                                            <img width="30" src="assets/icons/svg/appointmentManagement/icono descargar pdf.svg" alt="Download pdf">
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="btn">
                                                            <img width="30" src="assets/icons/svg/appointmentManagement/icono de aprobado.svg" alt="Icon State">
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>895001</b></td>
                                                    <td><b>RADIOGRAFÍA RODILLA</b></td>
                                                    <td><b>26/01/2021</b></td>
                                                    <td><b>09:00 A.M</b></td>
                                                    <td> 
                                                        <button  data-toggle="modal" data-target="#dynamicModal" class="btn">
                                                            <img width="30" src="assets/icons/svg/appointmentManagement/icono cerrar rojo.svg" alt="Icon Cancel">
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="btn">
                                                            <img width="30" src="assets/icons/svg/appointmentManagement/icono reasignar cita.svg" alt="Icon Reasign">
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="btn">
                                                            <img width="30" src="assets/icons/svg/appointmentManagement/icono descargar pdf.svg" alt="Download pdf">
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="btn">
                                                            <img width="30" src="assets/icons/svg/appointmentManagement/icono de cancelado.svg" alt="Icon State">
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot class="text-center">
                                                <tr>
                                                    <th>CÓDIGO CUPS</th>
                                                    <th>ESTUDIO Ó CITA</th>
                                                    <th>FECHA</th>
                                                    <th>HORA</th>
                                                    <th>CANCELAR</th>
                                                    <th>REASIGNAR</th>
                                                    <th>VER INSTRUCTIVO</th>
                                                    <th>ESTADO</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-dynamic-modal [type]="type" [optionsModal]="optionsModal"></app-dynamic-modal>