<!-- Modal recomendaciones de uso -->
<div class="modal" id="recommendation">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">RECOMENDACIONES DE USO – PLATAFORMA DE RESULTADOS FUNDACIÓN ALEJANDO LONDOÑO</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="flow-text">
                    RESPONSABILIDADES FRENTE A LA SEGURIDAD DE LA INFORMACIÓN
                </p>
                <p>
                    <strong><i>La FUNDACIÓN ALEJANDRO LONDOÑO</i></strong> tiene un acuerdo comercial con la empresa <strong><i>GATO LOCO STUDIOS SAS</i></strong>, quien mantiene la custodia de la información que reposa en la plataforma de resultados y sus bases
                    de datos, ellos son los responsables de la administración de las reglas y roles de acceso a la plataforma, ejecutando controles de seguridad implementados para asegurar los datos e información consignada por los usuarios. la <strong><i>FUNDACIÓN ALEJANDRO
                    LONDOÑO</i></strong> es la propietaria de los datos que reposan en las bases de datos.
                </p>
                <p>
                    <strong><i>La FUNDACIÓN ALEJANDRO LONDOÑO</i></strong> debe promover el resguardo y la seguridad de la información permitiendo el acceso a la plataforma solo a usuarios autorizados, solicitando cambio de credenciales de acceso cada 90 días
                    si fuera necesario.
                </p>
                <p>
                    <strong><i>La FUNDACIÓN ALEJANDRO LONDOÑO</i></strong> promueve los mecanismos de control necesarios para verificar el cumplimiento de las credenciales para cada uno de sus usuarios y apoyando la seguridad de la información. 
                </p>
                <p class="flow-text">USO DE CREDENCIALES DE CUENTAS DE USUARIO</p>
                <p>
                    La asignación de usuarios y contraseñas es un permiso que la <strong><i>FUNDACIÓN ALEJANDRO LONDOÑO</i></strong> otorga a sus usuarios con el fin de que tengan acceso a los recursos tecnológicos como a las plataformas de resultados que permiten
                    la operación, consulta y resguardo de la información de sus reportes clínicos.
                </p>
                <ol>
                    <li>La asignación de credenciales de usuario <strong><i>(Login o User Id)</i></strong> y contraseñas <strong><i>(Clave o Password)</i></strong> a los diferentes usuarios, se harán solamente a los usuarios de la <strong><i>FUNDACIÓN ALEJANDRO 
                        LONDOÑO</i></strong> que tengan registrado previamente un correo electrónico en los sistemas de información y que realicen la solicitud de creación de usuario dentro de la plataforma de resultados.</li>
                    <li>Las cuentas de usuario son entera responsabilidad del usuario quien solicite la cuenta, es para uso personal e intransferible.</li>
                    <li>Las cuentas de usuario <strong><i>(usuario y clave)</i></strong> son sensibles a mayúsculas y minúsculas, es decir que estas deben ser tecleadas como se definan.</li>
                </ol>
                <p>
                    Todas las cuentas de acceso a las plataformas tecnológicas y aplicaciones propiedad de la <strong><i>FUNDACIÓN ALEJANDRO LONDOÑO</i></strong> deben tener los siguientes lineamientos:
                </p>
                <ol>
                    <li>Se recomienda que las contraseñas deben ser cambiadas al menos cada 3 meses.</li>
                    <li>Sea cuidadoso al momento de asignar su contraseña, recuerde no poner el nombre de sus familiares o mascotas, ni información fácil como su numero de identificación o número telefónico.</li>
                    <li>Importante: Cambia las contraseñas que vienen incluidas por defecto para el acceso a la aplicaciones y plataforma de resultados.</li>
                    <li>Hay que evitar utilizar secuencias básicas de teclado <strong><i>(por ejemplo: ”qwerty”, “asdf” o las típicas en numeración: “1234” ó “98765”).</i></strong></li>
                    <li>No repetir los mismos caracteres en la misma contraseña. <strong><i>(ej.: “111222”).</i></strong></li>
                    <li>Evite también utilizar solamente números, letras mayúsculas o minúsculas en la contraseña.</li>
                    <li>No se debe utilizar como contraseña, ni contener, el nombre de usuario asociado a la contraseña.</li>
                    <li>No utilizar datos relacionados con el usuario que sean fácilmente deducibles, o derivados de estos. <strong><i>(ej: no poner como contraseña apodos, el nombre del actor o de un personaje de ficción preferido, etc.).</i></strong></li>
                    <li>No escribir ni reflejar la contraseña en un papel o documento donde quede constancia de la misma. Tampoco se deben guardar en documentos de texto dentro del propio ordenador o dispositivo <strong><i>(ej: no guardar las contraseñas de las tarjetas
                        de débito/crédito en el móvil o las contraseñas de los correos en documentos de texto dentro del ordenador).</i></strong></li>
                    <li>No enviar nunca la contraseña por correo electrónico o en un sms. Tampoco se debe facilitar ni mencionar en una conversación o comunicación de cualquier tipo.</li>
                    <li>Las contraseñas deben ser tratadas con carácter confidencial.</li>
                    <li>Se recomienda que las contraseñas no sean transmitidas mediante servicios de mensajería electrónica instantánea ni vía telefónica.</li>
                    <li>Se recomienda no mencionar y en la medida de lo posible, no teclear las contraseñas en frente de otros.</li>
                    <li>Se recomienda no utilizar la misma contraseña de acceso a otros sistemas operativos y/o aplicaciones.</li>
                    <li>Se recomienda no almacenar las contraseñas sin protección, en sistemas electrónicos personales <strong><i>(Tablets, memorias USB, teléfonos celulares, agendas electrónicas, etc.).</i></strong></li>
                    <li>Evitar en lo posible ingresar desde computadoras o dispositivos desconocidos de los que se desconozca su nivel de seguridad y que no brinden confianza; estos pueden tener instalados programas que capturan las pulsaciones del teclado y
                        robar la contraseña.</li>
                    <li>Se recomienda cerrar totalmente su sesión de usuario para evitar el uso de su identidad, cuando se retire del equipo en que se encuentre realizando la consulta a la plataforma de resultados.</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">ACEPTAR</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal políticas de privacidad -->
<div class="modal" id="privacy">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">POLÍTICA DE PRIVACIDAD</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <fieldset>
                    Puede consultar nuestro <b>AVISO DE PRIVACIDAD</b> y la <b>POLÍTICA DE TRATAMIENTO DE LA INFORMACIÓN</b> dando
                    <a href="https://www.fundacionalejandrolondono.com/icd/la-fundacion/politica-y-privacidad/" target="_blank" alt="Da Clic Aquí">clic en el siguiente enlace</a>
                </fieldset>
                <p>Con la aceptación de este documento manifiesto que he sido informado por la <strong><i>FUNDACIÓN ALEJANDRO LONDOÑO</i></strong> de que:</p>
                <ol class="roman-numbers">
                    <li>La <strong><i>FUNDACIÓN</i></strong> actuará como Responsable del Tratamiento de Datos Personales de los cuales soy titular y que, conjunta o separadamente podrán recolectar, usar y tratar mis datos personales conforme la Política de Tratamiento
                        de Datos Personales de la <strong><i>FUNDACIÓN</i></strong> disponible en <a href="https://www.fundacionalejandrolondono.com" target="_blank">www.fundacionalejandrolondono.com.</a></li>
                    <li>Es de carácter facultativo responder preguntas que versen sobre Datos Sensibles o sobre menores de edad.</li>
                    <li>Mis derechos como titular de los datos son los previstos en la Constitución y la ley, especialmente el derecho a conocer, actualizar, rectificar y suprimir mi información personal, así como el derecho a revocar el consentimiento otorgado
                        para el tratamiento de datos personales.</li>
                    <li>Los derechos pueden ser ejercidos a través de los canales gratuitos dispuestos por la <strong><i>FUNDACIÓN</i></strong> y observando la Política de Tratamiento de Datos Personales en ella establecida.</li>
                    <li>Para cualquier inquietud o información adicional relacionada con el tratamiento de datos personales, puedo contactarme al correo electrónico <a href="mailto:info@fundacionalejandrolondono.com">info@fundacionalejandrolondono.com.</a></li>
                    <li>La <strong><i>FUNDACIÓN</i></strong> garantiza la confidencialidad, libertad, seguridad, veracidad, transparencia, acceso y circulación restringida de mis datos y se reservan el derecho de modificar su Política de Tratamiento de Datos
                        Personales en cualquier momento. Cualquier cambio será informado y publicado oportunamente en la página web de la propia <strong><i>FUNDACIÓN</i></strong>.</li>
                </ol>
                <blockquote>
                    Teniendo en cuenta lo anterior, autorizo de manera voluntaria, previa, explícita, informada e inequívoca a la <strong><i>FUNDACIÓN</i></strong> para tratar mis datos personales de acuerdo con la Política de Tratamiento de Datos Personales
                    por ella establecida y para los fines relacionados con su objeto social y en especial para fines legales, contractuales, comerciales descritos en la Política de Tratamiento de Datos Personales de la <strong><i>FUNDACIÓN</i></strong>. La
                    información obtenida para el Tratamiento de mis datos personales la he suministrado de forma voluntaria y es verídica.
                </blockquote>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">ACEPTAR</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Recuparacion de password -->
<div class="modal" id="passRecovery">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">RECUPERAR CONTRASEÑA</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <div class="input-field col s12">
                    <input [(ngModel)]="recoveryIdentification" id="recoveryIdentification" type="text" name="recoveryIdentification">
                    <label for="recoveryIdentification">Número de documento</label>
                </div>
                <div class="row mb-10">
                    <div [class]="'alert alert-'+alertOptions?.type.toLowerCase()" *ngIf="alertOptions">
                        <strong>{{ alertOptions?.title }}</strong><br><span [innerHtml]="alertOptions?.info"></span>.
                    </div>
                </div>        
            </div>
            <div class="modal-footer">
                <button class="btn btn-basic" data-dismiss="modal">CANCELAR</button>
                <button (click)="onRecoveryPassword()" class="btn btn-info">RECUPERAR</button>
            </div>
        </div>
    </div>
</div>