<!-- [ ./ Card login ] -->
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- [ ./ sign options ] -->
        <div class="row row-ctrl">
            <div class="col-md-6 sign-in">
                <a class="sign-font">INICIO DE SESIÓN</a>
            </div>
            <div class="col-md-6 sign-up">
                <a class="sign-font">REGISTRATE</a>
            </div>
        </div>
        <!-- [ ./ sign options ] -->

        <!-- [ ./ info  ] -->
        <strong class="welcome-font">Bienvenido</strong><br>
        <a class="info-result-font">Ingresa a tus resultados</a>
        <!-- [ /. info ]-->
      
        <!-- [ ./ login inputs ] -->
        <div class="row login-input">
            <img class="col-md-2 icon-login" src="assets/icons/svg/Login/account_circle-black-18dp.svg" alt="">
            <div class="col-md-10 active fadeIn second">
                <input type="text" class="form-control"
                    name="user" placeholder="Digita tu número de documento"
                />
            </div>
            <img class="col-md-2 icon-login" src="assets/icons/svg/Login/vpn_key-black-18dp.svg" alt="">
            <div class="col-md-10 active fadeIn third">
                <input type="password" class="form-control"
                    name="user" placeholder="Digita tu contraseña"
                />
                <img class="icon-login" src="assets/icons/svg/Login/visibility-black-18dp.svg" alt="">
            </div>
        </div>
        <!-- [ /. login inputs ] -->
        
        <!-- Login Form -->
        <form>
            <button type="submit" class="fadeIn fourth">Iniciar Sesión</button>
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="a-ctrl underlineHover" href="#">¿Haz olvidado tu contraseña?</a>
        </div>
    </div>
</div>
<!-- [ /. Card login ] -->

<!-- [ ./ Background imgs ] -->
<div class="img-bg">
    <img  src="assets/img/png/Fondo-login.png" alt="">
</div>
<div class="img-doctor">
    <img width="600" src="assets/img/png/happy-doctor-holding-clipboard-with-patients.png" alt="">
</div>
<!-- [ /. Background imgs ] -->

