
.card-login {
    /*position: absolute;*/
    width: 100%;
    height: auto;
}
.img-doctor {
    /*position: absolute;*/
    top: 367px;
    width: 600px;
}
/*
.ccard-login {
    top: 298px;
    left: 740px;
    width: 440px;
    height: 432px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000059;
    opacity: 1;
}
*/