<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-4 center" >
                <div class="card">
                    <img class="img-card" src="assets/icons/png/Dashboard/Perfil-de-usuarios.png" alt="User Profile">
                    <div class="card-footer">
                        Perfil de Usuario
                    </div>
                </div>
            </div>
            <div class="col-md-4 center"  >
                <div class="card">
                    <img class="img-card" src="assets/icons/png/Dashboard/Asignar-citas.png" alt="Assign Appointment">
                    <div class="card-footer">
                        Asignar Cita
                    </div>
                </div>
            </div>
            <div class="col-md-4 center"  >
                <div class="card">
                    <img class="img-card" src="assets/icons/png/Dashboard/Gestion-de-citas.png" alt="Appointment List">
                    <div class="card-footer">
                        Gestión de Citas
                    </div>
                </div>
            </div>
            <div class="col-md-4 center"  >
                <div class="card">
                    <img class="img-card" src="assets/icons/png/Dashboard/Descarga-tus-resultados.png" alt="Download Results">
                    <div class="card-footer">
                        Descarga tus Resultados
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
