<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-4 center" >
                <div class="card" routerLink="/user-profile">
                    <img class="img-card" src="assets/icons/png/Dashboard/Perfil-de-usuarios.png" alt="User Profile">
                    <div class="card-footer">
                        Perfil de Usuario
                    </div>
                </div>
            </div>
            <div class="col-md-4 center"  >
                <div class="card" routerLink="/assign-appointment">
                    <img class="img-card" src="assets/icons/png/Dashboard/Asignar-citas.png" alt="Assign Appointment">
                    <div class="card-footer">
                        Asignar Cita
                    </div>
                </div>
            </div>
            <div class="col-md-4 center"  >
                <div class="card" routerLink="/appointment-list">
                    <img class="img-card" src="assets/icons/png/Dashboard/Gestion-de-citas.png" alt="Appointment List">
                    <div class="card-footer">
                        Gestión de Citas
                    </div>
                </div>
            </div>
            <div class="col-md-4 center">
                <div class="card">
                    <a href="https://www.samfundacion.com/resultados/#/resultados/login">
                        <img class="img-card" src="assets/icons/png/Dashboard/Descarga-tus-resultados.png" alt="Download Results">
                    </a>
                    <div class="card-footer">
                        Descarga tus Resultados
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
