<div class="aa-b-sub-title">
    INFORMACIÓN DEL AFILIADO
</div><br>
<div class="row">
    <div class="col-md-2">
        <span class="aa-b-a"><b>Afiliado(a):</b></span>
    </div>
    <div class="col-md-4">
        <span class="aa-b-n" *ngIf="people?.last_name != null">{{ people?.first_name + ' ' + people?.middle_name + ' ' + people?.last_name + ' ' + people?.last_name_two }}</span>
    </div>
    <div class="col-md-2">
        <span class="aa-b-a"><b>Número de CUPS:</b></span>
    </div>
    <div class="col-md-4">
        <span class="aa-b-n">{{studio?.cup}}</span>
    </div>
    <div class="col-md-2">
        <span class="aa-b-a"><b>Entidad:</b></span>
    </div>
    <div class="col-md-4">
        <span class="aa-b-n">{{eps?.name}}</span>
    </div>
    <div class="col-md-2">
        <span class="aa-b-a"><b>Estudio:</b></span>
    </div>
    <div class="col-md-4">
        <span class="aa-b-n">{{studio?.name}}</span>
    </div>
    <div class="col-md-2">
        <span class="aa-b-a"><b>Número de autorización:</b></span>
    </div>
    <div class="col-md-4">
        <span class="aa-b-n">0001237</span>
    </div>
    <div class="col-md-2">
        <span class="aa-b-a"><b>Adjuntar orden:</b></span>
    </div>
    <div class="col-md-4">
        <input class="select-file form-control" placeholder="Seleccionar archivo" readonly/>
        <input type="file" class="form-control upload-file-hide" accept="application/pdf,image/*">
        <div class="upload-file">
            <img class="file-icon" src="assets/icons/svg/userProfile/feed-white-18dp.svg" alt="">
            <span class="upload-text">Adjuntar</span>
        </div>
    </div>
</div>
<br><br><br>
<div class="aa-b-sub-title">
    INFORMACIÓN DE CITAS
</div><br>
<div class="row">
    <div class="col-md-4">
        <span class="aa-b-a"><b>Seleccionar Fecha:</b></span>&nbsp;&nbsp;
        <span>
            <mdb-date-picker [locale]="'es'" [inline]="true" name="mydate" [options]="myDatePickerOptions" (dateChanged)="onDateChange($event)"
            [openOnFocus]="true" inlineIcon="" [placeholder]="'Seleccionar fecha ... '" [(ngModel)]="model" required (inputFocusBlur)="onInputFocusBlur($event)"
            ></mdb-date-picker> 
        </span>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <div class="table-responsive">
            <div class="table text-center" style="max-height: 400px; overflow-y: scroll;">
                <table>
                    <thead class="text-center">
                        <tr>
                            <th>HORAS (FORMATO 24 HORAS)</th>
                            <th>LUGAR DE ATENCIÓN</th>
                            <th>MARTES 2021/01/2021</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngIf="!appointmentShedule">
                            <p class="info-table">Buscando horario disponible ... </p>
                        </tr>
                        <tr *ngIf="appointmentShedule?.length == 0">
                            <p class="info-table">Por favor, selecciona otra fecha. </p>
                        </tr>
                        <tr [ngClass]="(shedule.state == 'Available' && shedule.place == center.name)?'': 'hide-ctrl'" *ngFor="let shedule of appointmentShedule; let is = index;">
                            <td>{{shedule.date.split(' ')[1]}}</td>
                            <td>{{shedule.place.toUpperCase()}}</td>
                            <td><button (click)="onAssignAppoinment(shedule)"  data-toggle="modal" data-target="#dynamicModal" [ngClass]="(type == 'REASIGNAR')?'btn aa-b-aa aa-b-aa-r':'btn aa-b-aa  aa-b-aa-a'">{{type}} CITA</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-dynamic-modal [type]="type" [optionsModal]="optionsModal" (confirm)="onConfirm($event)" (denied)="onDenied($event)"></app-dynamic-modal>